@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #0e4269;
  --color-secondary: #416743;
  --color-accent: #2e7d32;
  --color-brand-bg: #f9f9ff;
  --color-brand-text: #111c2c;
  --color-brand-variant: #42474e;
  --color-surface-container: #e7eeff;
  --color-surface-container-low: #f0f3ff;
  --color-outline-alt: #c2c7cf;
}
body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
}
